<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../img/iconcuaca.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="main-konten">
            {{>header}}
            <p>404 error untuk {{errormsg}} tidak di temukan</p>
        </div>
        
        {{>footer}}
    </body>
</html>