<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/iconcuaca.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-konten">
            {{>header}}
            <h2>Selamat datang di halaman about</h2>
            <p>Nama Pembuat adalah {{ nama }} ini di gunakan mapbox.comn dan weatherstack.com</p>
            <img class="pasfoto" src="./img/pasfoto.jpg">
            <p> Tanggal lahir nya adalah {{ tanggallahir }} </p>
        </div>
        
        {{>footer}}
    </body>
</html>