<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="./img/iconcuaca.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-konten"> 
            {{>header}}
            <h2>Selamat datang di halaman {{judul}}</h2>
        </div>
        
        {{>footer}}
    </body>
</html>