<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="./img/iconcuaca.png">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        <div class="main-konten">
            {{>header}}
            <p>Di buat oleh {{nama}}</p>
        <form>
            <input placeholder="Alamat">
            <button> Cari </button>
        </form>

        <p id="msOne"></p>
        <p id="msTwo"></p>


        </div>
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>